<!--
  Generated template for the ProjetosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Projetos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let p of projetos" (click)="SelecionaProjeto(p.codigo)">
      {{p.nome}}
    </button>
  </ion-list>
  <div id ="mais">
    <button ion-button round colour="primary" (click)="novoProjeto()">
      <ion-icon name="add"></ion-icon>
    </button>
  </div>
</ion-content>