<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Tarefas" tabIcon="list-box"></ion-tab>
   <ion-tab [root]="tab2Root" tabTitle="Projetos" tabIcon="folder"></ion-tab>
  <!-- <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab> -->
</ion-tabs>
