<ion-header>

  <ion-navbar>
    <ion-title>Projeto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary">Nome:</ion-label>
      <ion-input type="text" placeholder="Nome do Projeto" [(ngModel)]="nomeProjeto" name="nomeProjeto" required #nome="ngModel">
      </ion-input>
    </ion-item>
  </ion-list>
  <ion-card class="alerta" *ngIf="!nome.valid && nome.dirty">
    <ion-card-content>
      ERRO: nome em branco
    </ion-card-content>
  </ion-card>

  <div id="mais">
    <button ion-button round color="primary" (click)="incluir()" [disabled]="!nome.valid" [class.invisivel]= "!novo">
      <ion-icon name="checkmark" ></ion-icon>
    </button>
    <button ion-button round color="primary" (click)="alterar()" [disabled]="!nome.valid" [class.invisivel]= "novo">
      <ion-icon name="checkmark"  ></ion-icon>
    </button>
    <button ion-button round color="danger" (click)="excluir()" [class.invisivel]= "novo">
      <ion-icon name="trash"></ion-icon>
    </button>
  </div>

</ion-content>