<!--
  Generated template for the TarefasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tarefas</ion-title>
  </ion-navbar>

</ion-header>
<ion-menu [content]="menucontent">
  <ion-header>
    <ion-toolbar>
      <ion-title>Filtros</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item (click)="limparFiltros()">Todas</button>
      <button ion-item (click)="filtroDias(0)">Até hoje</button>
      <button ion-item (click)="filtroDias(1)">Até Amanha</button>
      <button ion-item (click)="filtroDias(7)">Até proxima semana</button>
      <ion-item-divider class="light">POR PROJETO</ion-item-divider>
      <button ion-item *ngFor="let p of projetos" (click)="filtroProjeto(p.codigo)">{{p.nome}}</button>


    </ion-list>

  </ion-content>

</ion-menu>

<ion-nav id ="nav" #menucontent [root]="rootPage"></ion-nav>


<ion-content padding>

  <ion-list>

    <button ion-item *ngFor="let t of tarefas | filtro: filtroTarefas" (click)="selecionaTarefa(t.codigo)">
      <h2>{{t.descricao}}</h2>
      <h3>{{nomeProjeto(t.projeto)}}({{t.projeto}})</h3>
      <p>{{t.data | date:'dd/MM/yyyy'}}</p>
      <ion-badge item-right [class.alta]="t.prioridade == 1" [class.media]="t.prioridade  == 2" [class.baixa]="t.prioridade  == 3">{{t.prioridade}}</ion-badge>
    </button>
  </ion-list>

  <div id="mais">
    <button ion-button round color="primary" (click)="novaTarefa()">
      <ion-icon name="add"></ion-icon>
    </button>
  </div>

</ion-content>